/* Basic Style */
body { 
background: #cefff1; 
color: #333; 
overflow: hidden;
font-family: Lato, sans-serif; 
} 

.container { 
display: block; 
width: 500px; 
margin: 50px auto 0; 
} 

ul { 
margin: 0; 
padding: 0; 
} 

li * { 
float: left; 
} 

li, 
h3 { 
clear: both; 
list-style: none; 
} 

input, 
button { 
outline: none; 
} 

button { 
background: none; 
border: 0px; 
color: #888; 
font-size: 15px; 
width: 100px; 
margin: 10px 0 0; 
font-family: Lato, sans-serif; 
cursor: pointer; 
} 

button:hover { 
background: #ffd460; 
} 

/* Heading */
h3, 
label[for='new-task'] { 
color: #333; 
font-weight: 700; 
font-size: 15px; 
border-bottom: 2px solid #333; 
padding: 30px 0 10px; 
margin: 0; 
text-transform: uppercase; 
} 

input[type="text"] { 
margin: 0; 
font-size: 18px; 
line-height: 18px; 
height: 18px; 
padding: 10px; 
border: 1px solid #ddd; 
background: #fff; 
border-radius: 6px; 
font-family: Lato, sans-serif; 
color: #888; 
} 

input[type="text"]:focus { 
color: #333; 
} 

.middle { 
text-align: center; 
} 


/* New Task */
label[for='new-task'] { 
display: block; 
margin: 0 0 20px; 
} 

input#new-task { 
float: right; 
width: 318px; 
} 

p>button:hover { 
color: #0FC57C; 
} 

/* Task list */
li { 
overflow: hidden; 
padding: 20px 0; 
border-bottom: 1px solid #eee; 
} 

li>input[type="checkbox"] { 
margin: 0 10px; 
position: relative; 
top: 15px; 
} 

li>label { 
font-size: 18px; 
line-height: 40px; 
width: 237px; 
padding: 0 0 0 11px; 
} 

li>input[type="text"] { 
width: 226px; 
} 

li>.delete:hover { 
color: #CF2323; 
} 

/* Completed */
#completed-tasks label { 
text-decoration: line-through; 
color: #888; 
} 

/* Edit Task */
ul li input[type=text] { 
display: none; 
} 

ul li.editMode input[type=text] { 
display: block; 
} 

ul li.editMode label { 
display: none; 
} 
/*******************************************page on load transitions********************************************/


.loader
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #f2f6f5;
}
.loader span
{
	position: absolute;
	background: #f2f6f5; 
}
.loader span:nth-child(1)
{
	top: 0;
	left: 20vw;
	width: 80vw;
	height: 34vh;
	background: #f7b71d; 
	animation-name: slideit;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: forwards;  
}
.loader span:nth-child(2)
{
	top: 34vh;
	right: 0;
	width: 20vw;
	height: 66vh;
	background: #ff5959;
	animation-name: slideup;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: forwards;  
}
.loader span:nth-child(3)
{
	bottom: 34vh;
	left: 0;
	width: 20vw;
	height: 66vh;
	background: #10eaf0;
	animation-name: slideup;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: forwards;  
}
.loader span:nth-child(4)
{
	bottom: 0;
	right: 20vw;
	width: 80vw;
	height: 34vh;
	background: #24009c; 
	animation-name: slideit;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: forwards;  
}
.loader span:nth-child(5)
{
	bottom: 34vh;
	left: 20vw;
	width: 60vw;
	height: 32vh;
	background: white;
	animation-name: slideit;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: forwards;  
}
@keyframes slideit
{
	0%
	{
	}
	100%
	{
		width: 0vw;
		height: 33vh;
		background: #f2f6f5;
	}
}
@keyframes slideup
{
	0%
	{
	}
	100%
	{
		width: 20vw;
		height: 0vh;
		background: #f2f6f5;
	}	
}
